* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* PRELOAD */

.preload * {
  -webkit-transition: none;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  width: 3px solid #232943;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ffffff, rgb(255, 255, 255));
  border-radius: 3px;
}
/* BODY */
body {
  background-image: url("img/background.jpg");
  background-repeat: repeat;
}
/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.6;
  background-color: black;
}
/* MAIN HEADING */
.main-heading {
  z-index: 999;
  width: 120px;
  font-family: "oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  margin-top: 3vh;
  cursor: none;
  position: relative;
  transition: 0.1s ease-in;
  margin-left: 2vw;
  color: rgb(255, 238, 6);
}

/* AFTER AND BEFORE FOR MAIN HEADING */
.main-heading::before {
  content: "ELEGANCE";
  font-size: 15px;
  position: absolute;
  color: white;
  top: 100%;
  transition: 0.2s ease-in-out;
  left: 90%;
  transform: translate(-50%, -50%);
}

/* ANIMATION FOR BEFORE HEADING */
.main-heading:hover::before {
  content: "FOREVER";
  transform: rotateZ(90deg);
  top: 40%;
  letter-spacing: 5px;
  left: 80%;
}

/* ANIMATION FOR MAIN HEADING */

.main-heading:hover {
  letter-spacing: 2px;
}

/* NAVBAR */

.navbar {
  z-index: 1;
  margin-left: 30px;
  position: fixed;
  margin-top: 30vh;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  font-weight: 50;
  transform: 0.2s;
  line-height: 60px;
  color: rgb(185, 185, 185);
  font-family: "poppins", sans-serif;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: 0.2s ease;
}
.navbar a:hover::before {
  width: 100%;
  background-color: yellow;
}
.navbar a:hover {
  color: white;
}
/* SOCIAL BUTTON */
.social-btn {
  color: rgb(0, 0, 0);
  display: block;
  font-family: "poppins";
  position: fixed;
  right: 4px;
  top: 8vh;
}

.social-btn::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(251, 255, 0);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}
.social-btn::after {
  position: absolute;
  content: "";
  width: 100px;
  border: 2px white solid;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  top: 50%;
  left: 200%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

/* ANIMATION FOR SOCIAL BUTTON */

.social-btn:hover::after {
  left: 45%;
}
.social-btn:hover {
  color: rgb(255, 255, 255);
}

/* SOCIAL LINKS */

.social {
  transition: 0.1s;
  position: fixed;
  right: -10vw;
}

.social.active {
  right: 4vh;
}

.social a {
  display: block;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  position: relative;
  font-size: 20px;
  transition: 0.3s;
}

.social a::before {
  content: "";
  position: absolute;
  left: -50%;
  top: -20%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 100px;
  transition: 0.2s;
  background-color: yellow;
}

/* ANIMATION FOR SOCIALS WHEN HOVER */
.social a:hover::before {
  width: 10px;
  height: 10px;
}
.social a:hover {
  color: rgb(255, 255, 255);
}

/* TYPEWRITER TEXT (I AM A MODEL) */ /* ANIMATION */

.name {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 50px;
  position: absolute;
  left: 70%;
  top: 40%;
  z-index: -1;
}
.typewriter {
  position: absolute;
  width: 200px;
  left: 70%;
  top: 50%;
  font-family: "poppins", sans-serif;
  display: flex;
  z-index: -1;
}

.typewriter-text {
  overflow: hidden;
  width: 0%;
  letter-spacing: 2px;
  animation: typing 3s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  color: yellow;
  font-size: 20px;
  font-weight: 100;
  border-right: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
}
.typewriter-text1 {
  overflow: hidden;
  width: 0%;
  letter-spacing: 2px;
  animation: typing1 3s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  white-space: nowrap;
  color: yellow;
  font-size: 20px;
  font-weight: 100;
  border-right: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
}
.typewriter-text2 {
  overflow: hidden;
  width: 0%;
  letter-spacing: 2px;
  animation: typing2 3s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
  white-space: nowrap;
  color: yellow;
  font-size: 20px;
  font-weight: 100;
  border-right: 0px solid rgb(255, 255, 255);
  box-sizing: border-box;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
  }
  100% {
    width: 0%;
    border-right: 0px solid rgb(255, 255, 255);
  }
}
@keyframes typing1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
  }
  100% {
    width: 0%;
    border-right: 0px solid rgb(255, 255, 255);
  }
}
@keyframes typing2 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    border-right: 2px solid rgb(255, 255, 255);
  }
  100% {
    width: 100%;
    border-right: 0px solid rgb(255, 255, 255);
  }
}

/* MEDIA START */

@media all and (max-width: 1000px) {
  .name {
    left: 50%;
    top: 40%;
  }
  .typewriter {
    left: 50%;
    top: 50%;
  }
}

@media all and (max-width: 590px) {
  .name {
    font-size: 35px;
    left: 50%;
    top: 50%;
  }
  .typewriter {
    top: 60%;
  }
  .typewriter-text {
    font-size: 16px;
  }
}
@media all and (max-width: 420px) {
  .social a {
    margin-top: 10px;
  }
  .navbar {
    margin-left: 2vw;
  }
  .navbar a {
    font-size: 20px;
    line-height: 40px;
  }
  .name {
    font-size: 30px;
    left: 40%;
    top: 50%;
  }
  .typewriter {
    top: 60%;
    left: 40%;
  }
  .typewriter-text {
    font-size: 14px;
  }
}

/* ----------------ABOUT--------------------- */

.about {
  position: fixed;
  left: 0;
  transform: translateY(-100%);
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 13, 13);
  z-index: -1;
  transition: 0.5s ease-in;
  overflow-x: hidden;
}

.about.about-active {
  transform: translateY(0);
}

/* ABOUT IMAGE */

.about-image {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(21% 0, 88% 13%, 100% 100%, 8% 95%);
}

/* ABOUT ALL TEXT */

.about-heading {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 250px;
  white-space: nowrap;
  height: 100px;
  font-size: 50px;
  color: white;
  letter-spacing: 6px;
  position: absolute;
  right: 20%;
  top: 15%;
  overflow: hidden;
}
.about-heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 90%;
  background: rgb(255, 255, 255);
  animation: underlinewhite 3s infinite;
}
.about-heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 90%;
  left: 50%;
  background: rgb(251, 255, 2);
  animation: underlineyellow 3s infinite;
  animation-delay: 1s;
}
.sub-text {
  font-family: "poppins", sans-serif;
  display: block;
  width: 650px;
  height: 50px;
  font-size: 24px;
  color: white;
  position: absolute;
  right: 5%;
  top: 30%;
  overflow: hidden;
}
.load-text {
  font-family: "poppins", sans-serif;
  width: 650px;
  height: 200px;
  font-size: 18px;
  color: rgb(204, 204, 204);
  position: absolute;
  right: 5%;
  top: 40%;
  font-weight: 100;
  border-bottom: 1px solid rgb(173, 173, 173);
  padding-bottom: 20px;
}
.contact {
  margin-top: 30px;
  font-family: "poppins", sans-serif;
  width: 650px;
  height: 200px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 5%;
  top: 60%;
  font-weight: 100;
}

/* ANIMATION FOR UNDERLINE */

@keyframes underlinewhite {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes underlineyellow {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* ABOUT BACKGROUND ANIMATION */

.box {
  position: absolute;
  right: -10%;
  top: 80%;
  width: 500px;
  height: 500px;
  border: 10px solid rgb(202, 202, 202);
  border-radius: 1000px;
  animation: circlemove1 15s infinite;
  opacity: 0.1;
}
.box::before {
  content: "";
  position: fixed;
  right: -10%;
  top: 80%;
  width: 300px;
  height: 300px;
  border: 5px solid rgb(255, 238, 3);
  border-radius: 1000px;
  animation: circlemove2 10s infinite;
}
@keyframes circlemove1 {
  0% {
    right: -10%;
    top: 85%;
  }
  50% {
    right: 5%;
    top: 90%;
  }
  100% {
    right: -10%;
    top: 85%;
  }
}
@keyframes circlemove2 {
  0% {
    right: -10%;
    top: 80%;
  }
  50% {
    right: -10%;
    top: 75%;
  }
  100% {
    right: -10%;
    top: 80%;
  }
}

/* TESTIMONIAL */

.testimonial {
  margin-top: 150vh;
  margin-left: 50%;
  transform: translate(-50%);
  width: 1500px;
  height: 600px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.testimonial h1 {
  font-family: "poppins", sans-serif;
  display: block;
  width: 250px;
  white-space: nowrap;
  height: 100px;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 4%;
  left: 8%;
}

.test {
  width: 450px;
  height: 350px;
  background-color: rgb(27, 27, 27);
  position: relative;
  z-index: -2;
  margin: 10px;
  overflow: hidden;
}
.test1 {
  background-image: url("img/test1.jpg");
}
.test2 {
  background-image: url("img/test2.jpg");
}
.test3 {
  background-image: url("img/test3.jpg");
}

.test::before {
  content: "";
  position: absolute;
  width: 450px;
  z-index: -1;
  height: 350px;
  opacity: 0.5;
  top: 100%;
  background-color: rgb(245, 0, 0);
  transition: 0.4s;
}
.test::after {
  content: "";
  position: absolute;
  width: 450px;
  z-index: -1;
  height: 2px;
  opacity: 0;
  top: 99.5%;
  background-color: rgb(215, 253, 0);
  transition: 0.4s;
}
/* TESTIMONIAL HOVER EFFECT */

.test:hover::before {
  top: 0%;
}
.test:hover::after {
  opacity: 1;
}

.test-text {
  color: white;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  text-align: center;
  text-shadow: 1px 2px 2px black;
  opacity: 0;
  margin-top: 150px;
  z-index: 2;
}
.test:hover .test-text {
  opacity: 1;
  transition: 0.3s;
}

/* FEATHER */

.test .fas {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-size: 30px;
  margin: 10px;
  display: block;
}

/* SERVICES WE PROVIDE */
.service-cards h1 {
  font-family: "poppins", sans-serif;
  display: block;
  width: 250px;
  white-space: nowrap;
  height: 100px;
  font-size: 50px;
  color: white;
  position: absolute;
  top: -10vh;
  left: 50%;
}
.service-cards {
  margin-top: 10vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "poppins", sans-serif;
  color: rgb(230, 230, 230);
  display: grid;
  width: 60%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10vh;
}

.service-cards div {
  margin: 5px;
  background-color: rgb(27, 27, 27);
  width: 450px;
  height: 350px;
  position: relative;
}
.service-cards h3 {
  font-weight: 100;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  display: block;
}
.service-cards p {
  display: block;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 150px;
}
.service-cards i {
  position: absolute;
  color: rgb(58, 209, 91);
  font-size: 40px;
  left: 80%;
  top: 40%;
}

/* MEDIA FOR ABOUT */

@media all and (max-width: 1618px) {
  .about-heading {
    width: 220px;
    font-size: 40px;
  }
  .service-cards {
    left: 43%;
  }
  .service-cards h1 {
    left: 60%;
  }
  .test {
    width: 400px;
    height: 300px;
  }
  .testimonial {
    margin-left: 55%;
  }
  .service-cards div {
    margin: 5px;
    background-color: rgb(27, 27, 27);
    width: 400px;
    height: 300px;
    position: relative;
  }
}
@media all and (max-width: 1352px) {
  .about-image {
    left: 10%;
    opacity: 0.4;
  }
  .about-heading {
    width: 220px;
    font-size: 40px;
  }
  .service-cards {
    left: 43%;
  }
  .service-cards h1 {
    left: 60%;
    font-size: 40px;
  }
  .testimonial h1 {
    font-size: 40px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
  }
  .test {
    width: 270px;
    height: 220px;
    background-size: cover;
    margin: 3px;
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    margin-left: 55%;
  }
  .service-cards {
    left: 45%;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-cards h1 {
    left: 50%;
  }
  .service-cards h3 {
    margin-top: 5%;
    font-size: 25px;
  }
  .service-cards p {
    margin-top: 35%;
    font-size: 14px;
  }
  .service-cards i {
    top: 25%;
  }
}
@media all and (max-width: 1024px) {
  .about-image {
    left: 10%;
    opacity: 0.3;
  }
  .about-heading {
    left: 50%;
    width: 170px;
    height: 60px;
    font-size: 30px;
  }

  .service-cards {
    left: 43%;
  }
  .service-cards h1 {
    left: 60%;
    font-size: 40px;
  }
  .testimonial h1 {
    font-size: 40px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%);
  }
  .test {
    width: 230px;
    height: 220px;
    background-size: cover;
    margin: 3px;
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    margin-left: 55%;
    margin-top: 100vh;
  }
  .service-cards {
    left: 50%;
    margin-bottom: 50vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-cards h1 {
    left: 45%;
    margin-top: 4vh;
  }
  .service-cards h3 {
    margin-top: 5%;
    font-size: 25px;
  }
  .service-cards p {
    margin-top: 35%;
    font-size: 14px;
  }
  .service-cards i {
    top: 25%;
  }
  .sub-text {
    font-size: 20px;
    width: 500px;
    right: 20%;
    top: 25%;
  }
  .service-cards div {
    width: 350px;
    height: 300px;
  }
  .load-text {
    font-size: 15px;
    width: 500px;
    right: 20%;
    top: 30%;
  }
  .contact {
    width: 500px;
    font-size: 18px;
    right: 20%;
    top: 55%;
  }
  .navbar {
    margin-left: 5px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 20px;
  }
  .social {
    margin-top: 2vh;
  }
}
@media all and (max-width: 768px) {
  .sub-text {
    right: 14%;
  }
  .load-text {
    right: 14%;
    height: 150px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 20px;
  }
  .contact {
    top: 50%;
    right: 14%;
  }
  .service-cards {
    left: 43%;
  }
  .service-cards h1 {
    left: 60%;
    font-size: 40px;
  }
  .test {
    width: 200px;
    height: 200px;
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    margin-left: 55%;
    margin-top: 100vh;
  }
  .service-cards {
    left: 44%;
    margin-bottom: 30vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .service-cards h1 {
    left: 50%;
    margin-top: 2vh;
  }
  .service-cards h3 {
    font-size: 22px;
  }
  .service-cards p {
    margin-top: 25%;
    font-size: 14px;
  }
  .service-cards i {
    font-size: 30px;
  }

  .service-cards div {
    width: 300px;
    height: 250px;
  }

  .navbar {
    margin-left: 5px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 20px;
    line-height: 35px;
  }
  .social.active {
    right: 1.5vh;
  }
}
@media all and (max-width: 678px) {
  .sub-text {
    right: 10%;
    width: 400px;
    font-size: 15px;
  }
  .load-text {
    right: 10%;
    font-size: 13px;
    height: 150px;
    width: 400px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 20px;
  }
  .contact {
    top: 50%;
    height: 150px;
    width: 400px;
    right: 10%;
  }

  .test {
    width: 400px;
    height: 300px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    display: inline-block;
    margin-top: 150vh;
    margin-left: 55%;
    transform: translate(-50%);
    width: 100%;
    height: 1000px;
  }
  .testimonial h1 {
    position: absolute;
    top: -10%;
  }
  .service-cards {
    left: 55%;
    margin-bottom: 15vh;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-cards h1 {
    left: 30%;
    margin-top: 0vh;
  }
  .service-cards h3 {
    font-size: 25px;
  }
  .service-cards p {
    margin-top: 25%;
    font-size: 18px;
    font-weight: 100;
  }
  .service-cards i {
    font-size: 40px;
  }

  .service-cards div {
    width: 400px;
    height: 300px;
  }

  .navbar {
    margin-left: 5px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 20px;
    line-height: 35px;
  }
  .social.active {
    right: 1.5vh;
  }
  .main-heading {
    margin-left: 0vw;
  }
}
@media all and (max-width: 414px) {
  .main-heading {
    font-size: 20px;
    width: 80px;
  }
  .main-heading::before {
    font-size: 10px;
  }
  .main-heading:hover::before {
    transform: rotateZ(0deg);
  }
  .about-heading {
    width: 150px;
    height: 50px;
    font-size: 25px;
    left: 40%;
  }
  .sub-text {
    right: 6%;
    width: 290px;
    font-weight: 400;
    font-size: 15px;
  }
  .load-text {
    right: 6%;
    font-size: 13px;
    height: 200px;
    width: 290px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 0px;
    margin-top: 30px;
  }
  .contact {
    top: 60%;
    height: 150px;
    width: 290px;
    right: 6%;
  }

  .test {
    width: 300px;
    height: 250px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    display: inline-block;
    margin-top: 150vh;
    margin-left: 55%;
    transform: translate(-50%);
    width: 100%;
    height: 1000px;
  }
  .testimonial h1 {
    position: absolute;
    top: -10%;
    font-size: 25px;
    left: 63%;
  }
  .service-cards {
    margin-top: 0vh;
    margin-bottom: 15vh;
    grid-template-columns: repeat(1, 1fr);
    left: 47%;
    font-size: 25px;
  }
  .service-cards h1 {
    left: 40%;
    margin-top: 0vh;
    font-size: 25px;
  }
  .service-cards h3 {
    font-size: 25px;
  }
  .service-cards p {
    margin-top: 25%;
    font-size: 14px;
    font-weight: 100;
  }
  .service-cards i {
    font-size: 40px;
  }

  .service-cards div {
    width: 300px;
    height: 250px;
  }

  .navbar {
    margin-left: 5px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 15px;
    line-height: 30px;
  }
  .social a {
    font-size: 15px;
  }
  .social.active {
    top: 10vh;
    right: 1.5vh;
  }
}
@media all and (max-width: 375px) {
  .main-heading {
    font-size: 20px;
    width: 80px;
  }
  .main-heading::before {
    font-size: 10px;
  }
  .main-heading:hover::before {
    transform: rotateZ(0deg);
  }
  .sub-text {
    right: 7%;
    width: 260px;
    font-weight: 400;
    font-size: 15px;
  }
  .load-text {
    right: 7%;
    font-size: 13px;
    height: 200px;
    width: 260px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 0px;
    margin-top: 30px;
  }
  .contact {
    top: 60%;
    height: 150px;
    width: 260px;
    right: 7%;
  }

  .test {
    width: 260px;
    height: 220px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .testimonial h4 {
    font-size: 13px;
    margin-top: 40%;
  }
  .testimonial {
    display: inline-block;
    margin-top: 150vh;
    margin-left: 55%;
    transform: translate(-50%);
    width: 100%;
    height: 1000px;
  }
  .testimonial h1 {
    position: absolute;
    top: -10%;
    font-size: 25px;
    left: 63%;
  }
  .service-cards {
    margin-top: -10vh;
    margin-bottom: 15vh;
    grid-template-columns: repeat(1, 1fr);
    left: 47%;
    font-size: 25px;
  }
  .service-cards h1 {
    left: 40%;
    margin-top: 0vh;
    font-size: 25px;
  }
  .service-cards h3 {
    font-size: 20px;
  }
  .service-cards p {
    margin-top: 25%;
    font-size: 12px;
    font-weight: 100;
  }
  .service-cards i {
    font-size: 30px;
  }

  .service-cards div {
    width: 270px;
    height: 200px;
  }

  .navbar {
    margin-left: 5px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 13px;
    line-height: 30px;
  }
  .social.active {
    right: 1.5vh;
  }
}
@media all and (max-width: 320px) {
  .main-heading {
    font-size: 20px;
    width: 80px;
  }
  .main-heading::before {
    font-size: 10px;
  }
  .main-heading:hover::before {
    transform: rotateZ(0deg);
  }
  .sub-text {
    right: 7%;
    width: 250px;
    font-weight: 400;
    font-size: 15px;
  }
  .load-text {
    right: 7%;
    font-size: 12px;
    height: 230px;
    width: 250px;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding-bottom: 0px;
    margin-top: 30px;
  }
  .contact {
    font-size: 13px;
    top: 70%;
    height: 150px;
    width: 230px;
    right: 7%;
  }

  .test {
    width: 230px;
    height: 190px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .testimonial h4 {
    font-size: 11px;
    margin-top: 40%;
  }
  .testimonial {
    display: inline-block;
    margin-top: 150vh;
    margin-left: 55%;
    transform: translate(-50%);
    width: 100%;
    height: 1000px;
  }
  .testimonial h1 {
    position: absolute;
    top: -5%;
    font-size: 25px;
    left: 63%;
  }
  .service-cards {
    margin-top: -45vh;
    margin-bottom: 15vh;
    grid-template-columns: repeat(1, 1fr);
    left: 47%;
    font-size: 25px;
  }
  .service-cards h1 {
    left: 35%;
    margin-top: 0vh;
    font-size: 25px;
  }
  .service-cards h3 {
    font-size: 20px;
  }
  .service-cards p {
    margin-top: 25%;
    font-size: 12px;
    font-weight: 100;
  }
  .service-cards i {
    font-size: 30px;
  }

  .service-cards div {
    width: 230px;
    height: 170px;
  }

  .navbar {
    margin-left: 0px;
    margin-top: 20vh;
  }
  .navbar a {
    margin-left: 2px;
    color: white;
    font-size: 12px;
    line-height: 30px;
  }
  .social.active {
    right: 1.5vh;
  }
}

/* ---------------------------------PORTFOLIO--------------- */

.portfolio {
  position: fixed;
  left: 0;
  transform: translateY(100%);
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 13, 13);
  transition: 0.5s ease-in;
  overflow-x: hidden;
  z-index: -1;
}

.portfolio.portfolio-active {
  transform: translateY(0);
}

/* PORTFOLIO HEADING */
.portfolio-heading {
  font-family: "Oswald", sans-serif;
  display: block;
  width: 240px;
  white-space: nowrap;
  height: 80px;
  font-size: 40px;
  color: white;
  letter-spacing: 6px;
  position: absolute;
  right: 20%;
  top: 15%;
  overflow: hidden;
}
.portfolio-heading::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 90%;
  background: rgb(255, 255, 255);
  animation: underlinewhite 3s infinite;
}
.portfolio-heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 90%;
  left: 50%;
  background: rgb(0, 174, 255);
  animation: underlineyellow 3s infinite;
  animation-delay: 1s;
}

.portfolio .project-container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  height: 60%;
}
.portfolio div {
  margin: 5px;
  width: 500px;
  height: 300px;
  background-color: blanchedalmond;
  position: relative;
}
.portfolio div::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 300px;
  transform: translateY(0);
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.3s;
}
.portfolio a {
  display: block;
  position: absolute;
  width: 200px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
  font-family: "poppins", sans-serif;
  background-color: rgb(255, 251, 0);
  opacity: 0;
  border-radius: 40px;
  transition: 0.3s;
}
.portfolio div:hover::before {
  opacity: 0.7;
}
.portfolio div:hover a {
  opacity: 1;
}

.project1 {
  background-image: url("img/port1.jpg");
}
.project2 {
  background-image: url("img/port2.jpg");
}
.project3 {
  background-image: url("img/port3.jpg");
}
.project4 {
  background-image: url("img/port4.jpg");
}
.project5 {
  background-image: url("img/port5.jpg");
}
.project6 {
  background-image: url("img/port6.jpg");
}
