* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* BODY */
body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
}
/* MAIN HEADING */
.main-heading {
  width: 120px;
  font-family: "oswald", sans-serif;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  margin-top: 3vh;
  cursor: none;
  position: relative;
  transition: 0.1s ease-in;
  margin-left: 2vw;
  color: rgb(255, 238, 6);
}

/* AFTER AND BEFORE FOR MAIN HEADING */
.main-heading::before {
  content: "ELEGANCE";
  font-size: 15px;
  position: absolute;
  color: white;
  top: 100%;
  transition: 0.2s ease-in-out;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ANIMATION FOR BEFORE HEADING */
.main-heading:hover::before {
  transform: rotateZ(90deg);
  top: 40%;
  letter-spacing: 5px;
  left: 80%;
}

/* ANIMATION FOR MAIN HEADING */

.main-heading:hover {
  letter-spacing: 2px;
}

/* NAVBAR */

.navbar {
  margin-left: 30px;
  position: fixed;
  margin-top: 30vh;
}
.navbar a {
  display: inline-block;
  font-size: 35px;
  font-weight: 50;
  transform: 0.2s;
  line-height: 60px;
  color: rgb(185, 185, 185);
  font-family: "poppins", sans-serif;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0px;
  height: 1px;
  background-color: white;
  transition: 0.2s ease-in;
}
.navbar a:hover::before {
  width: 100%;
  background-color: yellow;
}
.navbar a:hover {
  color: white;
}
